<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # 如果请求的是真实文件或目录，直接访问
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # 所有请求转发到 index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# 防止目录浏览
Options -Indexes